<%- include('../partial/_header.ejs', { cssFiles: ['stylesheets/oneline-notic.css','plugins/datatables/dataTables.bootstrap.css'] }); %>
<form>
  <input type="url" name="link" value="" />
  <input class="btn btn-success" type="submit">
  <span class="oneline-notic oneline-notic-success" style="display:none"></span>
  <span class="oneline-notic oneline-notic-danger" style="display:none"></span>
</form>
<div class="table-wrapper" style="margin-left: auto; margin-right: auto">
  <table id="pingTable" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th width="80">ID</th>
        <th>domain</th>
        <th width="60"></th>
      </tr>
    </thead>
  </table>
</div>
<%- include('../partial/_footer.ejs', {jsFiles: [
  'plugins/datatables/jquery.dataTables.min.js',
  'plugins/datatables/dataTables.bootstrap.min.js',
  'javascripts/pingLink.js'
]}); %>